html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* Set Color Variables */
:root {
    --background:#043003;
    --lighter-background:#086006;
    --text:#f1fef1;
    --primary:#20BF1B;
    --accent:#F26F0F;
    --link-hover:#07db00;
}

body {
    font-size: 115%;
    margin: 0;
    color: var(--text);
    background-color: var(--background);
    font-family: 'Inconsolata', monospace;
    line-height: 1.2;
}

h1,h2,h3 {
    font-family: 'Karla', sans-serif;
}

p {
    max-width: 45rem;
}

a:link, a:visited {
    color: var(--primary);
}

a:hover {
    color: var(--link-hover);
}

/* Style the banner */
header {
    background-image: url("images/1563113840200_8689d32c8a4f8a39a003fc5476e6f873.png");
    height: 75vh;
    min-height: 500px;
    max-height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header section {
    padding: 1rem;
    width: 25rem;
    position: absolute;
    top: 15%;
    left: 72%;
    text-align: center;
    color: var(--accent);
}

header section h1 {
    font-size: 3em;
}

header section p {
    font-size: 1.2em;
}

/* Center the article */
.centered-main {
    width: 70%;
    max-width: 60em;
    margin: 0 auto;
}

/* Style Floated Boxes */
.box-right {
    box-sizing: content-box;
    float: right;
    width: 550px;
    padding: 0.5em;
    border: 2px solid var(--lighter-background);
    margin: 0 0 0 1em;
}

.box-right img {
    width: 100%;
}

.clear-float {
    clear: both;
}

footer {
    background-color: var(--lighter-background);
    padding: 0.1em 0;
}